$color-primary: white;
$color-secondary: rgb(0, 149, 255);
$color-text: rgb(47, 47, 47);
$color-action: #A0A0A0;


@mixin action {
    color: $color-action;
    font-size: 18px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $color-primary;
    width: 100%;
    position: relative;
    &::after {
        content: "";
        width: 100%;
        box-shadow: inset 0px 4px 8px -3px rgba(17,17,17,0.2);
        height: 5px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
    }
    a {
        color: $color-text;
    }   
    &__search {
        display: flex;
        max-width: 650px;
    }
}

.menu__logo {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    padding-left: 40px;
    .navbar__logo {
        height: 20px;
        width: 120px;
        object-fit: contain;
    }
    .navbar__menu {
        @include action;
        align-content: center;
    }
}

.action__profile {
    display: flex;
    align-content: center;
    padding-right: 30px;
    .navbar__actions {
        padding-right: 20px;
        width: 200px;
        align-content: center;
        padding-top: 3px;
        a {
            @include action;
            padding: 0px 15px;
        }
    }
    .navbar__profile {
        object-fit: cover;
        width: 32px;
        height: 32px;
        border-radius: 16px;
    }
}


// Flexstyles
.navbar {

    
}

